.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar{
  display: flex;
  width: 100%;
  height: 60px;
  background: rgb(209,255,211);
  background: linear-gradient(90deg, rgba(209,255,211,1) 10%, rgba(242,242,65,1) 22%, rgba(93,255,158,1) 41%, rgba(108,138,255,1) 67%, rgba(244,129,255,1) 98%);
  align-items: center;

  }
  .nav-bar__h1{
   color: white;
   -webkit-text-stroke-color: black ;
   -webkit-text-stroke-width: 1px;
    font-weight: 900;
    font-size: 40px;
    
  }
  .nav-bar span{
    color: white;
    margin-left: 20px;
  font-size: 17px;
    height: 20px;
    width: 200px;
margin-top: -12px;
  }
  .nav-bar .carwidget{
    margin-left: 40px;
    font-size: 30px;
  
  }
.button-blue{
background-color: blue;
color: white;
font-size: 17px;
border: blue solid 1px;
border-radius: 7px;
margin-left: 8px;
}
.button-blue:hover{
  background-color: rgb(146, 146, 253);
  }
  .button-blue:active{
    background-color: rgb(68, 68, 151);
    }
.div-button{
  margin-left: 180px;

  display: flex;
}
.div-container{
  background-color:darkcyan;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-container__h2{
color: white;
-webkit-text-stroke-color: rgb(146, 88, 0) ;
   -webkit-text-stroke-width: 1px;
}